<div class="container">
  <div class="row">   

    <div class="col">
      <div *ngFor="let venue of venues" class="m-1">
        <div style="color: red;">{{ venue.name }}</div>
        <div><b>Food:</b> {{ venue.food }}</div>
        <div><b>Drinks:</b> {{ venue.drinks }}</div>
      </div>
    </div>

    <div class="col">
      <div *ngFor="let person of people" class="m-1">
        <div style="color: blue;">{{ person.name }}</div>
        <div><b>Wont eat:</b> {{ person.wont_eat }}</div>
        <div><b>Drinks:</b> {{ person.drinks }}</div>
      </div>
    </div>
  </div>

  <mat-form-field class="w-75 mt-5">
    <mat-label>People</mat-label>
    <mat-select [formControl]="peopleForm" multiple>
      <mat-option *ngFor="let person of people" [value]="person">{{person.name}}</mat-option>
    </mat-select>
  </mat-form-field>
    
  <button (click)="whereShallWeEat(peopleForm)" style="margin-left: 10px;" mat-raised-button color="primary">Where shall we eat</button>
  
  <div class="row">
    <div class="col">
        <h4>Where we can eat</h4>
        <div *ngFor="let venue of venuesWeCanGoToEat" class="m-3">
          <div style="color: green;">{{ venue }}</div>
        </div>
    </div>

    <div class="col">
        <h4>Where we can drink</h4>
        <div *ngFor="let venue of venuesWeCanGoToForDrinks" class="m-3">
          <div style="color: green;">{{ venue }}</div>
        </div>
    </div>

    <div class="col">
        <h4>Where we can eat & drink</h4>
        <div *ngFor="let venue of venuesWhereWeCanEatAndDrink" class="m-3">
          <div style="color: green;">{{ venue }}</div>
        </div>
    </div>
  </div>

</div>
